.App {
  text-align: center;
}
body {
 height: 100vh;
 
 background: linear-gradient(to right top, #f1fffa, #d4e6e9);
 background-color: #f1fffa;
opacity: 1;
background-image:  linear-gradient(#d4e6e9 1px, transparent 1px), linear-gradient(90deg, #d4e6e9 1px, transparent 1px), linear-gradient(#d4e6e9 0.5px, transparent 0.5px), linear-gradient(90deg, #d4e6e9 0.5px, #f1fffa 0.5px);
background-size: 25px 25px, 25px 25px, 5px 5px, 5px 5px;
background-position: -1px -1px, -1px -1px, -0.5px -0.5px, -0.5px -0.5px;
   
}
.logo{
  display:flex;
  align-items: flex-start;
}
.icon{
  background-image: url('./images/ic_launcher.png');
  background-size: 100%;
  background-position:center;
  height: 110px;
  width: 110px;
 border-radius:100rem;
 padding: 1rem;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding-right:6%;
  flex-wrap: wrap;
  height: max-content;
  background: linear-gradient(
      to top,
      rgb(236, 97, 96),
      rgb(242, 159, 112)
    );
  border-bottom-right-radius: 100rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px 2px rgba(122, 122, 122, 0.1);
  color:white;
  position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
  z-index: 3;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
  padding-left: 7%;

}
.navbar-title{
  padding: 1.5rem;
  font-weight: lighter;
  
}
.nav-bar-items{
  display: flex;
  padding-top: 1.3rem;
  
 max-width:600px;
  font-size: 1.5rem;

}
.navbar-link{
 color: white;
 display:grid;
 text-decoration: none;
 padding: 0.5rem 1rem;


}
.navbar-link:hover{
background-color:       rgb(236, 97, 96),
;
border-radius: .25rem;

transition:all 0.2s ease-out;
transform: translateY(-3px);
text-shadow: 0 0 10px rgba(255, 255, 255, 0.753), 0 0 20px rgba(255, 142, 142, 0.082);
}
.collection-title{
  display: flex;
  justify-content: space-between;
  align-content: center;
  height:min-content;
  font-weight: lighter !important;
  font-size:2rem;
 margin-left: 2%;
 margin-right: 2%;
  color: rgb(236, 97, 96);
}
.collection-edit{
  font-weight: lighter !important;
  font-size: 1rem;
}
.collection-edit:hover{
  text-decoration: underline;
}

.navitem {
 
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
  
  text-align: right;
  width:70vw;
  justify-content: end;
  list-style-type: none;
  
  
}

.footer{
  height: 5vh;
  background: linear-gradient(
      to bottom,
      rgb(236, 97, 96),
      rgb(242, 159, 112)
    );
    margin-top: 1rem;
    color: white;
  width:100%;
  box-shadow: 0 0 5px 2px rgba(122, 122, 122, 0.1);
  text-align:center;
  padding-top:1rem;
  
}

.container {
  min-height: 80vh;
  min-width: 450px;
  width: auto;
  max-width: 85%;
  padding: 1rem;
  margin:auto;
  align-items: center;
  
  border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(.12rem);
    box-shadow: 0 0 5px 2px rgba(122, 122, 122, 0.1);

    
}

.card-grid{
  display: grid;
  align-items:center;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

.card {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background: linear-gradient(
    to left top,
    rgba(234,	81,	106),
    rgba(232,	90,	63)
  );
  margin: 0.5rem 0.5rem;
 
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 5px 2px rgba(122, 122, 122, 0.212);
  height: 150px;
  width: 140px;

  transition: 200ms;
	transform-style: preserve-3d;

  cursor:pointer;
  transform: perspective(500px) rotateY(var(--rotate-y, 0))
  translateY(var(--translate-y, 0));
 
  
  

}
.card:hover{
  box-shadow: 0 0 5px 2px rgba(122, 122, 122, .6);
  --translate-y:-3px;

}
.card .front {
  transform: rotateY(0deg);
}

.card.flip {
  --rotate-y: 180deg;
  transform-style: preserve-3d;
 
}


.card .front, 
.card .back {
  position: absolute;
  padding: 2rem;
  backface-visibility: hidden;
}

.card .back {
  display: flex;
  transform: rotateY(180deg);
  background-color: #1e1e1f;
  opacity: 1;
  background: repeating-linear-gradient( -45deg, #131313, #131313 5px, #1e1e1f 5px, #1e1e1f 25px );
  height: 150px;
  width: 140px; 

  justify-content: center;
  align-items: center;
  
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  
}